<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <base href="~/" />
</head>
<body>
    <div class="m-2">
        <a asp-action="Index" asp-controller="Home">Controllers</a>
        <a asp-page="/Index">Pages</a>
        <a asp-action="Blazor" asp-controller="Home">Blazor from Controller</a>
        <a asp-page="/Blazor">Blazor from Page</a>
    </div>
    <div class="m-2">
        <h5 class="bg-secondary text-white text-center p-2">Razor Page</h5>

        @RenderBody()
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
