@page
@model Advanced.Pages.Account.DetailsModel

<table class="table table-sm table-bordered">
    <tbody>
        @if (Model.Cookie == null)
        {
            <tr>
                <th class="text-center">No Identity Cookie</th>
            </tr>
        }
        else
        {
            <tr>
                <th>Cookie</th>
                <td class="text-break">@Model.Cookie</td>
            </tr>
        }
    </tbody>
</table>
