@page
@model Advanced.Pages.Account.LogoutModel

<div class="bg-primary text-center text-white p-2">Log out</div>
<div class="m-2">
    <h6>You are logged out</h6>
    <a asp-page="Login" class="btn btn-secondary">Ok</a>
</div>
